.nav-container {
    width: 100%;
    height: 60px;
    display: flex;
   justify-content: space-between;
    align-items: center;
    background-color: pink;
    position: relative;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 100px;
    font-size: large;

}

.btn {
    height: 50px;
    width: 100px;
    color: white;
    background-color: rgb(44, 93, 226);
}
*{
    margin: 0px;;
    padding: 0px;
    box-sizing: border-box;
}
