.main-con
{
    height: 800px;
    width: 550px;
    margin: auto;
}
 .first-con{
    height: 530px;
    background-color: rgb(230, 230, 236);
 }
 h1{
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    font-family: sans-serif;
    padding: 20px;
    letter-spacing: 3px;
 }
.btn-con {
  display: grid;
  justify-content: center;
  grid-gap: 20px;
  align-items: center;
}
.box{
    height: 40px;
    width: 60px;
    border-radius: 10px;
    background-color:orange ;
   text-align: center;
}
.btn{
    width: 450px;
    height: 100px;
    background-color: blue;
    color: white;
    border: none;
    padding: 20px;
    border-radius: 20px;
    font-size: 25px;
    letter-spacing: 2px;
    display: flex;
    column-gap: 50px;
    text-align: left;
}
.btn-gap{
    padding: 20px;
}
.btn-apply{
    width: 170px;
    background-color: orange;
    color: white;
    border: none;
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    border-radius: 8px;
    gap: 10px;
   
}
.sec-con{
padding: 10px;
}
.para{
    font-size: medium;
}
.para-bold{
    font-weight: 600;
}
.btn-reg {
    width: 120px;
    background-color: orange;
    color: white;
    border: none;
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
 
  
}