.container {
    height:750px; 
   width: 80%;
    display:  grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    /* background-color: #382e2e; */
    justify-content: center;
    align-items: center;
    margin: auto;
}
.box{
    display: grid;
    justify-content: center;
    align-items: center;
}
.box1 {
    height: 520px;
    width: 320px;
    border: 1px solid rgb(19, 18, 18);
    border-radius: 20px;
    margin: 30px;
    margin-top: 100px;
    line-height: 0.6cm;
    box-shadow: 5px 20px 5px 5px #160606;
    background-color: white;
    
    

}

.box2 {
    height: 600px;
    width: 360px;
    border: 1px solid rgb(19, 18, 18);
    border-radius: 20px;
    margin: 30px;
    margin-top: 50px;
    line-height: 0.6cm;
    box-shadow: 5px 30px 10px 10px #160606;
    background-color: white;
}

.box3 {
    height: 520px;
    width: 320px;
    border: 1px solid rgb(19, 18, 18);
    border-radius: 20px;
    margin: 30px;
    margin-top: 100px;
    line-height: 0.6cm;
    box-shadow: 5px 20px 5px 5px #160606;
    background-color: white;
}

.prop {
    display:flex;
    justify-content: center;
    color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}

.prop1{
    background-color: rgb(247, 2, 125);
    height: 90px;
    width:320px;
}
    
.prop2{
   
    background-color: rgb(247, 71, 2);
   
    height: 90px;
    width:360px;
}

 
.prop3{
    background-color: rgb(96, 233, 62);
    height: 90px;
    width:320px;
}

img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

* {
    font-family: sans-serif;
}

.btn
{
padding-top: 0.5cm;
width:150px;

}
.btn1
{
    border-right:1px inset #918c8c;
}
@media(max-width:1140px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        height: auto;
    
}
}
@media(max-width:680px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
        height: auto;

    
}
}