.container {
    height: auto;
    width: auto;
    display: flex;
    text-align: center;
    background-color: #382e2e;
}

.box1 {
    height: 520px;
    width: 350px;
    border: 1px solid rgb(19, 18, 18);
    border-radius: 20px;
    margin: 30px;
    line-height: 0.6cm;
    box-shadow: 5px 10px 10px 10px #160606;
    background-color: white;
}

.box2 {
    height: 500px;
    width: 200px;
}

.box3 {
    height: 500px;
    width: 200px;
}

.prop {
    display: flex;
    padding-top: 5%;
    justify-content: center;
    color: white;

    background-color: rgb(247, 2, 125);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* .btn{
    height: 35px;
    width: 10px;
   
} */
img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

* {
    font-family: sans-serif;
}