.container
{
    height: 1200px;
    width: 1200px;
    border: 1px solid black;

}

.box{

}
.box1
{
    height: 200px;
    width: 200px;
background-image: url(../images/download.jpg);
}
.box2
{
    height: 200px;
    width: 200px;
background-image: conic-gradient(red, yellow, green);
}
.box3
{ height: 200px;
    width: 200px;
    background-image: linear-gradient(rgb(0, 225, 255), rgb(216, 178, 75)30%, green);
}
.box4
{ height: 100px;
    width: 100px;
    background-image: radial-gradient(rgb(212, 23, 39), yellow, rgb(10, 221, 10));
}
.box5
{ height: 100px;
    width: 100px;
    background-image: repeating-conic-gradient(red, yellow, green);
}
.box6
{ height: 100px;
    width: 100px;
    background-image: repeating-linear-gradient(red, yellow, green);
}
.box7
{ height: 100px;
    width: 100px;
    background-image: repeating-radial-gradient(red, yellow, green);
}
